* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(247, 4, 4);
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: white;
}

.dropdown:hover .dropdrown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding 0.9em;
}