* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background: white;
}

.dropdown:hover .dropdrown {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: rgb(252, 0, 0);
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .cold-md-7 {
    padding: 15pxs 1vmin;
    padding-bottom: 35vmin;
    font-family: Arial, Helvetica, sans-serif;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .cold-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .cold-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

