* {
    box-sizing: border-box;
}


/*HEADER*/

header,
section {
    overflow-x: hidden;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: black;
}

header .container {
    margin-top: 10%;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

.dropdown-menu {
    background-color: red;
}

.dropdown-item {
    color: white;
}

#dropdownMenuButton {
    background-color: black;
}

header .nav-link:hover {
    color: rgb(252, 0, 0);
}

header .navbar-brand:hover {
    color: rgb(252, 0, 0);
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .cold-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .row .col-md-5 img {
    width: 100%;
}

header .container .cold-md-7 h6 {
    letter-spacing: 4px;
}

header .container .cold-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

#branco {
    color: white;
}


/*SECTION 1*/

.section-1 {
    padding: 20vmin 0;
}

.section-1 img {
    opacity: 0.8;
    width: 200%;
    height: 100%;
    border-radius: 0.2em;
}

.section-1 .row .cold-md-6:last-child {
    position: relative;
}

.section-1 .painel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}