/*main*/

main .row #bcaa1 img {
  width: 100%;
  padding-top: 10%;
}

main .row #bcaa2 img {
  width: 100%;
  padding-top: 0%;
}

main .row #bcaa3 img {
  width: 100%;
  padding-top: 10%;
}

main .row #bcaa4 img {
  width: 100%;
  padding-top: 20%;
}

main .row .col-md-6 {
  padding: 30px;
}
