/*main*/

main .row #crea1 img {
  width: 100%;
  padding-top: 10%;
}

main .row #crea2 img {
  width: 100%;
  padding-top: 0%;
}

main .row #crea3 img {
  width: 100%;
  padding-top: 10%;
}

main .row .col-md-6 {
  padding: 30px;
}
