* {
    box-sizing: border-box;
}


/*HEADER*/

header,
section {
    overflow-x: hidden;
}

header .container {
    margin-bottom: 6%;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: black;
}

header .container {
    margin-top: 10%;
}

header .nav-item {
    padding: 0.9em;
    display: flex;
}

header .navbar-brand {
    padding-left: 8rem;
}

.dropdown-menu {
    background-color: red;
}

.dropdown-item {
    color: white;
}

#dropdownMenuButton {
    background-color: black;
}

header .nav-link:hover {
    color: rgb(252, 0, 0);
}

header .navbar-brand:hover {
    color: rgb(252, 0, 0);
}

header .row .texto {
    padding-bottom: 35vmin;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .row .texto h1 {
    padding-bottom: 1vmin;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .row .texto h6 {
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .row .texto p {
    padding-bottom: 2vmin;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .row .col-md-12 img {
    width: 33%;
}

header .container .cold-md-12 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

#branco {
    align-content: center;
    color: white;
    padding-bottom: 3%;
}


/*SECTION 1*/

.section-1 {
    padding: 20vmin 0;
    background-color: #ffffff;
}

.section-1 img {
    opacity: 0.8;
    width: 200%;
    height: 100%;
    border-radius: 0.2em;
}

.section-1 .row .cold-md-6:last-child {
    position: relative;
}

.section-1 .painel h1,
h6 {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 .painel p {
    font-weight: 500;
}

.section-1 .painel .SuplAlim {
    font-weight: 500;
    letter-spacing: 1px;
}

.section-1 .painel {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 7vmin;
    left: -18vmin;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}


/*Section 2*/

.section-2 {
    margin-bottom: 0px;
}

.section-2 .container h1 {
    font-size: 6vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}

.section-2 .card {
    width: 30rem;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

.section-2 .card .card-text {
    padding: 0.5em;
}

.section-2 .card .card-body>a {
    font-size: 1.5em;
}


/*Footer*/

#barra {
    border: 1px solid #000000;
    margin-bottom: 30px;
}

footer .row #logo img {
    width: 250px;
    margin-left: 100px;
}

footer .row #poch img {
    margin-top: 15px;
}