html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.row {
  border: 1px solid #000000;
}

#logo {
  height: 80px;
  width: 80px;
}

#logo_whey {
  height: 80px;
  width: 80px;
}

#logo_bcaa {
  height: 80px;
  width: 80px;
}
