html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#logo {
  height: 80px;
  width: 80px;
}

#Titulo {
  color: white;
}
#logo_whey {
  height: 80px;
  width: 80px;
}

#logo_bcaa {
  height: 80px;
  width: 80px;
}

#logo_crea {
  height: 80px;
  width: 80px;
}

#logo_termos {
  height: 80px;
  width: 80px;
}

.nav-link {
  color: white;
}
.TextoApresenta {
  padding-left: 15px;
}

#button {
  background-color: rgb(255, 230, 5);
}

#carouselExampleIndicators {
  margin: 50px;
}
