/*Telemovel*/
@media screen and (max-width: 767px) {
  .telemovel {
    display: inline-block;
  }

  main {
    display: none;
  }
}

/*Computador*/
@media screen and (min-width: 768px) {
  .telemovel {
    display: none;
  }

  main {
    display: inline-block;
  }
}

h2 {
  font-weight: bold;
}


/*main*/

main .row #gluta1 img {
  width: 100%;
  margin-top: 0%;
  border-radius: 20px;
}

main .row #gluta2 img {
  width: 100%;
  margin-top: 0%;
  border-radius: 20px;
}

main .row #gluta3 img {
  width: 100%;
  margin-top: 5%;
  border-radius: 20px;
}

main .row .col-md-6 {
  padding: 30px;
}

/*main-telemovel*/

.telemovel .row #gluta1 img {
  width: 100%;
  margin-top: 10%;
  border-radius: 20px;
}

.telemovel .row #gluta2 img {
  width: 100%;
  margin-top: 10%;
  border-radius: 20px;
}

.telemovel .row #gluta3 img {
  width: 100%;
  margin-top: 10%;
  border-radius: 20px;
}

.telemovel .row .col-sm-12 {
  padding: 10px 10px 0px 10px;
}
