/*main*/

main .row #gluta1 img {
  width: 100%;
  padding-top: 10%;
}

main .row #gluta2 img {
  width: 100%;
  padding-top: 0%;
}

main .row #gluta3 img {
  width: 100%;
  padding-top: 10%;
}

main .row .col-md-6 {
  padding: 30px;
}
