/*Section 2*/

.section-2 {
    background-color: #000;
    margin-bottom: 0px;
}

.section-2 .row {
    margin: 2%;
}

.section-2 .container h1 {
    padding-top: 3%;
    font-size: 6vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.section-2 .carousel-item {
    min-height: 2%;
}

.section-2 .card .card-body {
    font-size: medium;
}

.section-2 .col-lg-4,
.col-md-4,
.col-sm-12 {
    padding: 0px;
    align-items: center;
    margin: 0;
}

.section-2 .col-sm-12 {
    padding-top: 10px;
}

.section-2 .col-md-4 .card-title {
    min-height: 70px;
}

.section-2 .col-sm-12 .card-text {
    min-height: 30px;
}

.section-2 .card-body {
    min-height: 100px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.section-2 img {
    width: 100%;
    border-radius: 40%;
    padding: 5%;
}