/*Telemovel*/

@media screen and (max-width: 767px) {
    .telemovel {
        display: inline-block;
    }
    main {
        display: none;
    }
}


/*Computador*/

@media screen and (min-width: 768px) {
    .telemovel {
        display: none;
    }
    main {
        display: inline-block;
    }
}

h2 {
    font-weight: bold;
}


/*main*/

table {
    margin-top: 1%;
    margin-bottom: 3%;
}

main #prozis img {
    padding: 25px 0px 0px 15px;
    width: 100%;
}

main #myprotein img {
    padding: 25px 0px 0px 12px;
    width: 100%;
}

main #gold img {
    padding: 0px 0px 0px 0px;
    width: 100%;
}

main #bio img {
    padding: 0px 0px 0px 0px;
    width: 100%;
}

main .produto{
    vertical-align: middle;
}

main .preco{
    vertical-align: middle;
}

main .btn1{
    margin-top: 12%;
}
main .btn2{
    margin-top: 15%;
}
main .btn3{
    margin-top: 15%;
}
main .btn4{
    margin-top: 16%;
}

main .row #whey1 img {
    width: 100%;
    margin-top: 0%;
    border-radius: 20px;
}

main .row #whey2 img {
    width: 100%;
    margin-top: 0%;
    border-radius: 20px;
}

main .row #whey3 img {
    width: 90%;
    padding-top: 0%;
    border-radius: 20px;
}

main .row .col-md-6 {
    padding: 30px;
}


/*main-telemovel*/

.telemovel .row #whey1 img {
    width: 100%;
    margin-top: 10%;
    border-radius: 20px;
}

.telemovel .row #whey2 img {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

.telemovel .row #whey3 img {
    width: 100%;
    margin-top: 5%;
    border-radius: 20px;
}

.telemovel .row .col-sm-12 {
    padding: 10px 10px 0px 10px;
}