/*main*/

main .row #whey1 img {
  width: 100%;
  padding-top: 8%;
}

main .row #whey2 img {
  width: 100%;
  padding-top: 15%;
}

main .row #whey3 img {
  width: 90%;
  padding-top: 0%;
}

main .row .col-md-6 {
  padding: 30px;
}
